.hero {
  background-image: url("../../assets/images/skyline.jpg");
  background-size: cover;
  padding-bottom: 100px;
  text-align: center;
  justify-content: space-between;
  display: flex;

  .hero-info {
    flex: 50%;

    h1 {
      font-size: 2.5rem;
      color: white;
      padding-top: 5%;
      font-family: var(--ff-tertiary);
      font-weight: 900;
      text-shadow: 2px 2px 2px black;
    }
      
    p {
      color: #fff;
      font-family: var(--ff-secondary);
      font-weight: 200;
      font-size: 1.25rem;
      padding: 0 5rem;
      text-shadow: 1px 2px 2px black;
      margin-bottom: 20px;
    }
      
    img {
      max-width: 80%;
    }
  }

  .socials {
    display: flex;
    background-color: pink;
    flex-direction: column;
    position: absolute;
    right: 0;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    background-color: black;
    font-size: 2rem;
    margin-top: 20%;


    .option {
      color: var(--prim-color);
    }
  }
}

@media screen and (min-width: 688px) {
  .hero {
    .hero-info h1 {
      font-size: 3.5rem;
    }

    .socials {
      padding: 0 10px;
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .hero {
    .hero-info h1 {
      font-size: 5.5rem;
    }

    .hero-info p {
      font-size: 1.5rem;
    }

    .hero-img {
      max-width: 90%;
    }
  }
}