.about {
    background-color: #000;
    font-family: var(--ff-secondary);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: #fff;
    margin: 0;

    .about-img {
        margin: auto;
        max-width: 70%;
        width: auto;
        padding-top: 10px;
    }

    .about-info {
        align-items: center;

        h1 {
            color: var(--prim-color);
            font-size: 2.75rem;
            font-weight: 600;
            padding-top: 40px;
        }

        p {
            font-size: 1.25rem;
            font-weight: 200;
            padding: 0 30px;
        }

        .social-bio {
            display: none;
        }
    }
}

@media only screen and (min-width: 688px) {
    .about {
        .about-info {
            h1 {
                font-size: 3.5rem;
            }

            .social-bio {
                display: inline;
                background-color: var(--tri-color);
                width: 30%;
                text-align: center;
                border-radius: 30px;
                font-size: 2.5em;
                padding: 0 3%;
    
                a {
                    color: var(--sec-color);
                    padding: 5px;
                }
    
                a:hover {
                    color: #ff00ae;
                }
            }
        }
    }
}

@media only screen and (min-width: 922px) {
    .about {
        flex-direction: row;
        text-align: inherit;

        .about-img {
            max-width: 500px;
            max-height: 450px;
            padding-bottom: 40px;
            padding-left: 20px;
        }

        .about-info {
            margin: auto;
            padding-left: 30px;
            padding-right: 20px;

            h1 {
                padding-top: 0;
                margin-top: 0;
            }

            p {
                font-size: 1.5rem;
                padding: 0;
            }
        }
    }
}

@media only screen and (min-width: 1029px) {
    .about {
        .about-info {
            h1 {
                font-size: 4rem;
            }
        }
    }
}
