.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
  
    .shopping-icon {
      width: 24px;
      height: 34px;
    }
  
    .item-count {
      position: absolute;
      font-size: 9px;
      font-weight: bold;
      bottom: 14px;
    }
  }
  