.about {
    background-color: #000;
    font-family: var(--ff-secondary);
    display: flex;
    color: #fff;
    margin: 0;
    padding-top: 40px;

    .about-img {
        padding: 10px;
        margin-left: 5%;
        max-height: 600px;
        width: auto;
    }

    .about-info {
        align-items: center;
        margin-right: 5%;

        h1 {
            color: var(--prim-color);
            font-size: 5rem;
            font-weight: 600;
            padding: .5em;
        }

        p {
            font-size: 1.5rem;
            font-weight: 200;
            padding: 10px 20px 40px 20px;
        }

        .social-bio {
            background-color: var(--tri-color);
            width: 30%;
            text-align: center;
            border-radius: 30px;
            font-size: 2.5em;
            margin-left: 3%;
            padding: 0 3%;

            a {
                color: var(--sec-color);
            }

            a:hover {
                color: #ff00ae;
            }
        }
    }
}