.navbar {
    background-color: black;

    .leftSide {
        .logo {
            padding-left: 30px;
            max-height: 80px;
        }
    }

    .rightSide {
        flex: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .links {
           display: none;
        }

        .hamburger {
            display: flex;
            width: 40px;
            margin-right: 20px;
            color: white;
        }
    }

    #hidden {
        position: absolute;
        right: 0px;
        top: 80px;
        max-height: 320px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
    #hidden a {
        text-decoration: none;
        padding-right: 1em;
        font-weight: 600;
        color: white;
        padding-bottom: 30px;

        &:hover {
            color: var(--sec-color);
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 622px) {
    .navbar {
        width: 100%;
        display: flex;
        padding: 0.25em;
        
        .rightSide {
            .links {
                display: flex;
                font-family: var(--ff-secondary);
                font-weight: 600;
                padding: 10px;
            
                 a {
                    font-size: 1rem;
                    text-decoration: none;
                    color: white;
                    padding-right: 20px;
            
                    &:hover {
                        color: var(--sec-color);
                        text-decoration: none;
                    }
                }
            }

            .hamburger {
                display: none;
    
                &:focus {
                    outline: 0;
                }
              
            }
        }
    }
}
  

